absl-py==2.4.0
altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
coverage==7.14.3
cryptography==49.0.0
immutabledict==4.3.1
iniconfig==2.3.0
numpy==2.5.0
ortools==9.15.6755
packaging==26.2
pandas==3.0.3
pdfminer.six==20260107
pdfplumber==0.11.10
pefile==2024.8.26
pillow==12.3.0
pluggy==1.6.0
protobuf==6.33.6
pycparser==3.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pypdf==6.14.2
pypdfium2==5.11.0
PySide6==6.8.3
PySide6_Addons==6.8.3
PySide6_Essentials==6.8.3
pytest==8.4.2
pytest-cov==6.3.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
reportlab==4.5.1
setuptools==82.0.1
shiboken6==6.8.3
six==1.17.0
typing_extensions==4.15.0
tzdata==2026.2
